body {
	color: #333333;
	font-family: arial;
	max-width: 650px;
	margin: 0 auto;
	padding: 0 16px;

	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.main {
	flex-grow: 1;
}

div.solid {
	border-style: solid;
	padding-left: 25px;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 50%;
}

footer {
	color: #888888;
	border-top: 1px solid #eeeeee;
	margin-top: 16px;
	padding: 16px 0;
}

header {
	margin-top: 16px;
	margin-bottom: 48px;
}

headerManager {
	margin-top: 16px;
	margin-bottom: 48px;
}

headerEmployee {
	margin-top: 16px;
	margin-bottom: 48px;
}

table,
td,
th {
	border: 1px solid black;
	text-align: center;
}
