<headerManager>
    <h1>{{title}}</h1>
    <a href="/">Home</a>
    <a href="/list">Employees</a>
    <a href="/updateDetails">Update</a>
    <a href="/leave">Leave</a>
    <a href="/updateTask">Task</a>
</headerManager>