<headerManager id='header'>
    <center>
        <h1>{{title}}</h1>
        | <a href="/">Home</a> |
        <a href="/manager">Employees</a> |
        <a href="/approveLeave">Process Leave</a> |
        <a href="/updateTask">Task</a> |
        <a href="/taskDetails">Task Details</a> |
        <a href="/resignedEmployees">Resigned Employees</a> |
    </center>
</headerManager>