<headerEmployee>
	<h1>{{ title }}</h1>
	<a href="/">Home</a>
	<a href="/employee">Add</a>
	<a href="/list">Employees</a>
	<a href="/edit">Edit/Update</a>
	<a href="/leave">Leave</a>
	<a href="/leaveStatus">Leave Status</a>
	<a href="/task">Task</a>

</headerEmployee>