<!DOCTYPE html>
<html>

<head>

</head>

<body>
    <h3>{{title}}</h3>

    <form>
        <div>
            <label>Full Name :</label>
            <input type="text" name="fullName" placeholder="Full Name" value="">
        </div>
        <div>
            <label>Email :</label>
            <input type="text" name="fullName" placeholder="Full Name" value="">
        </div>
        <div>
            <label>Job Description :</label>
            <input type="text" name="fullName" placeholder="Full Name" value="">
        </div>
        <div>
            <label>Phone :</label>
            <input type="text" name="fullName" placeholder="Full Name" value="">
        </div>
    </form>
</body>

</html>