<!DOCTYPE html>
<html>

<head>

</head>

<body>
    <h3>{{title}}</h3>

    <form action="/">
        <div>
            <label>Full Name :</label>
            <input type="text" name="fullName" placeholder="Full Name" value="">
        </div>
        <br>
        <div>
            <label>Email :</label>
            <input type="text" name="email" placeholder="Full Name" value="">
        </div>
        <br>
        <div>
            <label>Job Description :</label>
            <input type="text" name="Job Description" placeholder="Full Name" value="">
        </div>
        <br>
        <div>
            <label>Phone :</label>
            <input type="text" name="Phone" placeholder="Full Name" value="">
        </div>
        <div>
            <button type="submit"></button> Submit</button>

        </div>
    </form>
</body>

</html>