<!DOCTYPE html>
<html>

<head>
    <title>
        Employee
    </title>

</head>

<body>
    {{>header}}
    <div>
        <p>
        <h1>Welcome</h1>
        </p>

    </div>

    {{>footer}}

</body>

</html>