<!DOCTYPE html>
<html>

<head>
    <title>
        Employee
    </title>
    <link rel='stylesheet' href='/css/style-sheet.css'>
</head>

<body>
    {{>header}}
    <div class="main">
        <p>
        <h1 id="index">Welcome!!!!!!</h1>
        <h1><a href="/employee">Employee Registeration</a></h1>
        <h1><a href="/manager">Manager</a></h1>
        </p>

    </div>
    {{>footer}}
</body>

</html>