<!DOCTYPE html>
<html>

<head>
    <title>
        Employee
    </title>
    <link rel='stylesheet' href='/css/style-sheet.css'>
</head>

<body>
    {{>header}}
    <div>
        <p>
        <h1>Welcome</h1>
        </p>

    </div>

    {{>footer}}

</body>

</html>