<!DOCTYPE html>
<html>

<head>
    <title>
        Employee
    </title>
</head>

<body>
    {{>header}}
    <div>
        <p>Employee details</p>
        {{!-- <button onclick="http://localhost:3000/employee">Employee</button>
        <button onclick="http://localhost:3000//manager">Manager</button> --}}
    </div>
    {{>footer}}
</body>

</html>