<!DOCTYPE html>
<html>

<head>
    <link rel='stylesheet' href='/css/style-sheet.css'>
</head>

<body>
    {{>headerManager}}
    <div class="solid">



        <form action="/employee" method="POST">
            <div class="body">
                <label>Full Name :</label>
                <input type="text" name="fullName" placeholder="Full Name" value="">
            </div>
            <br>
            <div class="body">
                <label>Email :</label>
                <input type="text" name="email" placeholder="Full Name" value="">
            </div>
            <br>
            <div class="body">
                <label>Job Description :</label>
                <input type="text" name="Job Description" placeholder="Full Name" value="">
            </div>
            <br>
            <div class="body">
                <label>Phone :</label>
                <input type="text" name="Phone" placeholder="Full Name" value="">
            </div>
            <br>
            <div class="body">
                <button>Submit</button>

            </div>
        </form>
    </div>
    {{>footer}}
</body>

</html>